 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Build</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      
          
  
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-tensorflow-original-wordmark colored"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <i class="devicon-numpy-original colored"></i>
      <i class="devicon-github-original"></i>
         
      <p> </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <i class="devicon-microsoftsqlserver-plain"></i>
      <i class="devicon-minitab-plain colored"></i>
      <i class="devicon-matlab-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-jira-plain"></i>
      
         
      <p></p>
    </div>
</div>
