<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Mimic Traveling Salesman Problem with Unknown Edge Costs for Amazon last mile delivery</h3>
    <ul>
       <p> Inverse Reinforcement Learning, Data Analysis,Traveling Salesman Problem, Machine Learning </p>   
    </ul>
    <p> Loss function optimzation inspired by inverse reinforcement learning for unknown edge costs. MTSP algorithm approximates edge costs through the provided route demonstrations. Proposed Algorithms achieve a lower TS score by minimizing the proposed loss function.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="echocardio" src="{{ "/assets/img/echocardio.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automatic Segmentation of Echocardiographic Images Using Machine Learning</h3>
    <ul>
       <p> Image Segmentation, U-Net Architecture, SE-GAN, Data Preprocessing</p>   
    </ul>
    <p> U-net, and segAN were trained and evaluated to calculate clinical parameters of the boundary of left ventricle mayocardium that  needs to be identified (segmented) from the images. Physiological parameters were calculated Two-dimensional echocardiography and dice metrics showed improved results for both models.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="arima" src="{{ "/assets/img/arima.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Time Series Analysis on Carbon dioxide Emissions using ARIMA</h3>
    <ul>
      <p>  Non-Stationarity, ARIMA, Data Wrangling </p>
    </ul>
    <p>Carbon dioxide emissions are the primary driver of global climate change. Autoregressive integrated moving average model is employed to forecast Carbondioxide (CO2) emissions for annual emissions by country based on emissions and historical contribution factors.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Protein active site prediction for early drug discovery and designing</h3>
    <ul>
      <p> KNN, XGBoost, SVM and Random Forest</p>
    </ul>
    <p>Adenosine triphosphate (ATP) is an energy compound present in living organisms.Using 2-mer as feature vectors, this research work trained and tested five different models including KNN, Conv1D, XGBoost, SVM and Random Forest. SVM gave the best performance on k-mer features to overcome this problem of complex computation of Position-specific scoring matrix (PSSM) </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
